@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Saira+Stencil+One&display=swap');
/* *{
overflow-y: hidden;
} */
.rect{
  position: absolute;
  width: 30vw;
  height: 126px;
  right: 0;
  top: 16vh;

  background: rgb(220, 221, 220);
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
}
.home{
  overflow-y: hidden;
}
.npd{
  font-size: 80px;
  text-align: left;
  padding-left: 170px;
  position: relative;
  height: fit-content;
  top:-3.2vh;
  width: fit-content;
  overflow: hidden;
}

.iconpessoas{
  position: absolute;
  top:1vh;
  padding-left: 320px;
  height: 96px;
  width: fit-content;
  overflow: hidden;
}

.title-div{
  position: absolute;
  width: 45vw;
  height: 80px;
  left: -4vw;
  top: 4vh;
  margin-bottom: -20vh;
  vertical-align: middle;
  display: flex;
  justify-content: center;

}
.rect3{
  position: absolute;
  width: 30vw;
  height: 580px;
  top:34vh;
  right:0;
  
 background: rgb(220, 221, 220);
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
  overflow: hidden;
}

.bpm-text{
  text-align: center;
  width: 100%;
  font-family: 'Roboto Mono';
  font-size: 400;
  height: fit-content;

}

.pdr{
  position: relative;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 600;
  height: 6.5vh;
  font-size: 45px;
  /* line-height: 48px; */
  top: -2vh;
  padding-left: 2vw;

  color: black;

  border: white;
  /* border-style: solid; */
}

.info{
  position: absolute;
  top: 2vh;
  left: 93vw;
  width: 5.5vw;
  height:11vh;
  cursor: pointer;
}

.cp{
  position: absolute;
  left: 16vw;
  top: 17vh;
  top: 1vw;
  color: rgb(0, 0, 0);
}
.home {
  width:fit-content;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 1vw;
  overflow: hidden;
  border: 0;
  padding-top: 14vh;

}
.room{
  position: relative;
  width: 1200px;
  height: 750px;
  padding-left: 0;
  z-index: 1;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
  border-radius: 36px;
  overflow:hidden;
  margin:2vh;
}

.peopleCanvas{
  position: absolute;
  width: 1200px;
  height: 750px;
  left: 2.5vw;
  top: 16.8vh;
  z-index: 2;
  overflow: hidden;
}

.grafico{
  overflow: hidden;
  border-style: s; 
}

.textppg{
  justify-content: center;
  position:relative;
  display: flex;
  align-items: center;
  padding: 3vh;
  font-family: 'Roboto Mono';
  text-align: right;
}

.withoutheart{
  font-family: 'Roboto Mono';
  text-align: center;
  padding-top: 20vh;
}

.heart{
  padding-top: 3.5px;
  padding-left: 0.3vw;
}

@media (prefers-reduced-motion: no-preference) {
  .heart {
    animation: App-logo-spin infinite 0.8s linear;
  }
}

@keyframes App-logo-spin {
  from {
   transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.aboutus{
  position: absolute;
  text-align: center;
  width: 31.3vw;
  height: 70vh;
  right: 2vh;
  top: 18vh;
  
 background: rgb(220, 221, 220);
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.titulo{
  position: relative;
  width: 100%;
  height: 10vh;
  left: 0vw;
  top: -1vh;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
}

.visgas_foto{
  position: relative;
  left: -20vh;
  top:-2vw;
  width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.joaoviegas{
  position: relative;
  left: 1vh;
  top:-2vw;
  height: 3vh;
  width: 8vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Amarelo_foto{
  position: relative;
  left: 1vh;
  top:-11vw;
  width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.joaoamaral{
  position: relative;
  left: 22vh;
  top:-10.9vw;
  height: 3vh;
  width: 8vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.brune_foto{
  position: relative;
  left: 21vh;
  top:-20vw;
  width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.brunolemos{
  position: relative;
  left: 41vh;
  top:-19.8vw;
  height: 3vh;
  width: 8vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.pedra_foto{
  position: relative;
  left: -10vh;
  top:-19vw;
  width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.pedrorocha{
  position: relative;
  left: 11vh;
  top:-19vw;
  height: 3vh;
  width: 8vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.jana_foto{
  position: relative;
  left: 15vh;
  top:-28vw;
  width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.joanacunha{
  position: relative;
  left: 36vh;
  top:-28vw;
  height: 3vh;
  width: 8vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.peci{
  position: relative;
  left: 3vh;
  top:-26vw;
  height: 8vh;
  width: 30vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}