@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Saira+Stencil+One&display=swap');

.linha{
  display: flex;
  flex-flow: row wrap;
  background-color: #c4c4c4;
  height: 100%;
  overflow:hidden;
  border:0;
}
.rect{
  position: absolute;
  width: 30vw;
  height: 126px;
  right: 0;
  top: 16vh;

  background: rgb(220, 221, 220);
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
}

.npd{
  font-size: 80px;
  text-align: left;
  padding-left: 170px;
  position: relative;
  height: fit-content;
  top:-3.2vh;
  width: fit-content;
  overflow: hidden;
}

.iconpessoas{
  position: absolute;
  top:1vh;
  padding-left: 320px;
  height: 96px;
  width: fit-content;
  overflow: hidden;
}

.title-div{
  position: absolute;
  width: 45vw;
  height: 80px;
  left: -4vw;
  top: 4vh;
  margin-bottom: -20vh;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  background: rgb(220, 221, 220);
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.rect3{
  position: absolute;
  width: 30vw;
  height: 580px;
  top:34vh;
  right:0;
  
 background: rgb(220, 221, 220);
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
  overflow: hidden;
}

.bpm-text{
  text-align: center;
  width: 100%;
  font-family: 'Roboto Mono';
  font-size: 400;
  height: fit-content;

}

.pdr{
  position: relative;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  /* line-height: 48px; */
  top: -2vh;
  padding-left: 2vw;

  color: black;

  border: white;
}

.info{
  position: absolute;
  overflow: hidden;
  top:-41vh;
  left:92vw;
  cursor: pointer;
}

.cp{
  position: absolute;
  left: 16vw;
  top: 17vh;
  top: 1vw;
  color: rgb(0, 0, 0);
}
.home {
  width: 100vw;
  height:100vh;  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 15vh;
  margin-left: 3vw;
  overflow: hidden;
}
.room{
  position: relative;
  width: 1200px;
  height: 750px;
  padding-left: 0;
  z-index: 1;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
  border-radius: 36px;
  overflow:hidden;
}

.peopleCanvas{
  position: absolute;
  width: 1200px;
  height: 750px;
  left: 3.5vw;
  top: 16vh;
  z-index: 2;
  overflow: hidden;
}

.grafico{
  overflow: hidden;
  
}

.textppg{
  justify-content: center;
  position:relative;
  display: flex;
  border-style: none;
  background-color: white;
  border-radius: 20px;
  height: 15%;
  width: 110%;
  align-items: center;
}